/* CSS for -> Global, Header, Showcase, Home Content and their meta data, Footer */


/* Global */
body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

.button {
	color: white;
	background-color: #8845f4;
	padding: 13px 42px;
	border-radius: 20px;
}

.container {
	width: 80%;
	margin: auto;
}

/* Header */
.header {
	margin-top: -30px;
	background-color: lightgreen; 
	color: white;
}

.header h1 {
	font-family: sans-serif;
	font-size: 50px;
}

.header img {
	border-radius: 50%;
	width: 75px;
	float: right;
	padding: 20px;
}

.header ul {
	list-style: none;
	padding: 0px;
}

.header a {
	text-decoration: none;
	color: white;
	font-family: Arial;
	font-size: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
}

.header li {
	display: inline;
	padding: 10px;
	margin-right: 10px;
}

.header a:hover {
	color: lightcoral;
	font-weight: bold;
}

/* Showcase */
.showcase {
	margin-top: -40px;
	background: url(../img/banner.jpg) -100px 0px;
	min-height: 500px;
}

.showcase h1 {
	padding-top: 205px;
	color: lightgreen;
	text-align: center;
	font-size: 50px;
	font-family: 'Balsamiq Sans', cursive;
}

/* Home Content */

/* Research and its meta data */
.research img {
	width: 100%;
	margin:auto;
	padding-bottom: 5px;
	border-bottom: 5px solid lightgreen;
	border-radius: 10px;
}

.res ul {
  list-style: none;
}

.res li {
  display: inline-block;
  width: 30%;
  margin: 7%;
  border: 1px lightgreen solid;
  padding: 20px;
}

.res li img {
  width: 300px;
  height: 150px;
}

.res p {
  text-align: justify;
}

.res h1 {
  padding-bottom: 3px;
  border-bottom: 3px solid lightgreen;
}

.res img:hover {
	border-radius: 10px;
}

/* Alumnus and its meta data */
.alumnus img {
	width: 100%;
	margin: auto;
	padding-bottom: 5px;
	border-bottom: 5px solid lightgreen;
	border-radius: 10px;
}

.alu ul {
  list-style: none;
}

.alu li {
  display: inline-block;
  width: 30%;
  margin: 7% 7% 0% 7%;
  border: 1px lightgreen solid;
  padding: 20px;
}

.alu li img {
  width: 300px;
  height: 250px;
}

.alu p {
  text-align: justify;
  color: black;
  padding: 3px;
  line-height: 1.5em;
}

.alu h1 {
  padding-bottom: 3px;
  border-bottom: 3px solid lightgreen;
}

.alu img:hover {
	border-radius: 10px;
}

/* Faculty and its meta data */
.faculty img {
	width: 100%;
	margin: auto;
	padding-bottom: 5px;
	border-bottom: 5px solid lightgreen;
	border-radius: 10px;
}

.fac ul {
  list-style: none;
}

.fac li {
  display: inline-block;
  width: 30%;
  margin: 7% 7% 0% 7%;
  border: 1px lightgreen solid;
  padding: 20px;
}

.fac li img {
  width: 300px;
  height: 150px;
}

.fac p {
  text-align: justify;
}

.fac h1 {
  padding-bottom: 3px;
  border-bottom: 3px solid lightgreen;
}

.fac img:hover {
	border-radius: 10px;
}

/* Placements */
.placements img {
	width: 70px;
	margin: auto;
	padding-right: 45px;
	margin-right: 10px;
	margin-bottom: 30px;
}

/* Footer */
.footer {
	background-color: grey;
	text-align: center;
	color: white;
	padding: 10px;
}
